.contact-container {
    background: rgb(249, 255, 177);
    height: 30vh;
    text-align: center;
    margin-top: 10px;
    margin: auto;
    width: 80%;
    padding: 10px;
    margin-bottom: 50px;
}