.services-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.services-container {
    margin-bottom:  200px;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 30px;
}

.service {
    padding: 50px 30px 50px 30px;
    margin-left: 80px;
    margin-right: 80px;
    background-color: darkgray;
}

.service-list-item-price {
    padding-left: 10px;
    font-weight: bold;
    color: darkgreen;
}

@media screen and (max-width: 960px) {
    .services {
        grid-template-columns: 1fr;
    }

}