.amenities-container {
    margin: 40px auto 50px auto;
    width: 80%;
    padding: 10px;
    display: grid;
    grid-template-rows: 0.2fr 1fr;
    gap: 10px;
}

.amenities-welcome {
    background-color: blanchedalmond;
    text-align: center;
    margin-bottom: 40px;
}

.amenities-welcome-title {
    font-weight: bold;
    padding-bottom: 20px;
}

.amenities-welcome-desc {
    padding-bottom: 20px;
}

.amenities-amenities {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3em;
}

.amenity-title {
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}

.amenities {
    background-color: rgb(100, 216, 237, 0.2);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.amenity-img {
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 10%;
    padding: 5px;
    margin:auto;
}

.amenity-container {
    margin-top: auto;
    margin-bottom: auto;
}

@media screen and (max-width: 960px) {
    .amenities {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto;
    }

    .amenities-welcome {
        padding: 10px;
    }
    .amenity-img {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 10%;
        padding: 5px;
        margin:auto;
    }

    .amenities-container {
        text-align: center;
        padding: 0;
        
    }

}
