.whatsnew {
        display: grid;
        grid-template-rows: auto;
        background: rgb(213,213,213);
        background: linear-gradient(90deg, rgba(213,213,213,1) 0%, rgba(255,255,255,1) 49%, rgba(0,254,255,1) 100%);
        height: auto;
        text-align: center;
        margin-top: 10px;
        margin: auto;
        width: 80%;
        padding: 10px;
}

.whatsnew-title {
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    padding-bottom: 20px;
}

.whatsnew-text {
    padding-bottom: 20px;

}

@media screen and (max-width: 960px) {
    .whatsnew {
        font-size: 1em;
    }
}